:root {
  --color-primary-orange: #d87d4a;
  --color-secondary-orange: #fbaf85;
  --color-primary-black: #101010;
  --color-primary-grey: #fafafa;
  --color-secondary-grey: #f1f1f1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
